@import '~antd/dist/antd.css';
/*
  Theme:
    https://coolors.co/5fb8cf-084b83-bbe6e4-f0f6f6-ff66b3
*/

:root {
  --primary-color: #5fb8cf;
  --secondary-color: #FFF;
  --accent-color: #BBE6E4;
  --cultured-color: #F0F6F6;
  --blue-color: #084B83;
  --pink-color: #FF66B3;
}
